{% extends "layout/base.html" %}


{% block title %}
AMR | SoftCIME
{% endblock title %}

{% block titleSide %}
Avis de Mise en Recouvrement
{% endblock titleSide %}

{% block liSide %}
<li class="nav-item">
    <a href="{% url 'liste_amr' %}" class="nav-link align-middle px-0 text-white">
        <i class="bi bi-list-ol"></i> <span class="ms-1 d-none d-sm-inline">Historique AMR</span>
    </a>
</li>
<li class="nav-item">
    <a href="{%url 'new_amr'%}" class="nav-link align-middle px-0 text-white-50">
        <i class="bi bi-plus-circle-fill"></i> <span class="ms-1 d-none d-sm-inline">Enregistrer un AMR</span>
    </a>
</li>
<li class="nav-item">
    <a href="{%url 'amr_incomplet'%}" class="nav-link align-middle px-0 text-white-50">
        <i class="bi bi-plus-circle-fill"></i> <span class="ms-1 d-none d-sm-inline">AMR Incomplets</span>
    </a>
</li>
{% endblock liSide %}

{% block contain %}
    <h4 class="bg-success text-white text-center"> Détail AMR</h4>
    <div class="container bootstrap snippets bootdey justify-content-center">
        <div class="panel-body inf-content justify-content-center">
            <div class="row justify-content-center mb-3">
                <div class="col-md-7">
                    <h5 class="h5 text-center text-uppercase bg-success p-3 bg-opacity-25">Information Générales</h5>
                    <table class="table table-user-information ">
                        <tbody>
                            <tr>        
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                        N° AMR                                             
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{amr.num_amr}}  
                                        
                                </td>
                            </tr>
                            <tr>    
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-user  text-primary"></span>    
                                        Contribuable
                                                                                    
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{amr.contribuable.NIU}} <br> 
                                    {{amr.contribuable.raison_social}}
                                    <a href="{% url 'detail_contrib' amr.contribuable.id %}" class="text-primary text-center" class="text-danger" alt="Supprimer ?"><i class="bi bi-info-square-fill"></i></a>
                                    
                                        
                                </td>
                            </tr>
                                    
                            <tr>        
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                        Date d'émission
                                                                                    
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{amr.date}}  
                                    
                                </td>
                            </tr>
                            <tr>        
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                        Recette
                                                                                    
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{amr.recette}}  
                                    
                                </td>
                            </tr>
                            <tr>        
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-eye-open text-primary"></span> 
                                        Emis par                                              
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{amr.personnel}} 
                                </td>
                            </tr>
                            
                            
                        </tbody>
                    </table>
                                            
                </div>
                
            </div>
            <div class="row table-responsive justify-content-center">
                <div class="col-md-7">
                    <h5 class="h5 text-center text-uppercase bg-success p-3 bg-opacity-25">Impots </h5>
                    <table class="table table-bordered">

                        <thead>
                            <th>impots</th>
                            <th>Montant Pricipal</th>
                            <th>Montant Budgétaire</th>
                            <th>Repartition</th>
                        </thead>
                        <tbody>
                            {% for impot in impots_amr %}
                                <tr>
                                    <td>
                                        {{impot.impot}}
                                    </td>
                                    <td>
                                        {{impot.montant}}
                                    </td>
                                    <td>
                                        {{impot.montant_budg}}
                                    </td>
                                    <td>
                                        {% for part_impot in impot.impot.parts_impot.all %}
                                            {{part_impot.nom}} : {% widthratio part_impot.taux 1 impot.montant %}<br>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}  
                        </tbody>
                    </table>
                </div>
            </div>

           
    </div> 
    <center >
        <a href="{% url 'excel_amr' amr.id %}" class="btn btn-success"><i class="bi bi-printer-fill"></i> IMPRIMER</a>
    </center>



    <script>
        document.getElementById('amr').classList.add('fw-bold')
        document.getElementById('amr').classList.add('fs-5')
    </script>
{% endblock contain %}