{% extends "layout/amr_layout.html" %}


{% block contain %}
    <h4 class="bg-success text-white text-center text-uppercase"> AMR Incomplets</h4>
    <table id="example" class="table table-striped table-bordered table-hover" style="width:100%" >
        
        <thead>
            <tr>
                <th rowspan="2">N° AMR</th>
                <th rowspan="2">Date émission</th>
                <th colspan="2" class="text-center">Contribuable</th>
                <th rowspan="2">Impôts</th>
                <th rowspan="2">Recette</th>
                <th rowspan="2">Emis par</th>
                <th rowspan="2">Modifier</th>
            </tr>
            <tr>
                <th>NIU</th>
                <th>Raison Sociale</th>
            </tr>
        </thead>
        <tbody>
           {% for amr in amrs %}
            {% if amr.impots.count == 0 %}
                <tr>
                    <td>{{amr.num_amr}}</td>
                    <td>{{amr.date}}</td>
                    <td>{{amr.contribuable.NIU}}</td>
                    <td>{{amr.contribuable.raison_social}}</td>
                    <td>
                        {% if amr.impots.count == 0 %}
                        <i class="text-danger text-center">Manquant</i>
                        {% else %}
                            {% for impot in impots_declare %}
                                {% if impot.declaration == declaration %}
                                    {{impot.impot.impot}} : {{impot.montant}} <br />
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>{{amr.recette}}</td>
                    <td>{{amr.personnel.nom}}</td>
                    <td>
                        <a href="{% url 'update_amr' amr.id %}" class="text-primary text-center" class="text-danger" alt="Supprimer ?"><i class="bi bi-pencil-fill"></i></a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            
        </tbody>
        <tfoot>
            <tr>
                <th>N° AMR</th>
                <th>Date émission</th>
                <th colspan="2" class="text-center">Contribuable</th>
                <th>Impôts</th>
                <th>Recette</th>
                <th>Emis par</th>
                <th>Modifier</th>
            </tr>
        </tfoot>
    </table>





    <script>
        document.getElementById('amr').classList.add('fw-bold')
        document.getElementById('amr').classList.add('fs-5')
        document.getElementById('menu').children[2].children[0].classList.add('text-white')
        document.getElementById('menu').children[2].children[0].classList.remove('text-white-50')
    </script>
{% endblock contain %}