{% extends "layout/amr_layout.html" %}

{% block contain %}
    <h4 class="bg-success text-white text-center"> Détail AMR {{nb_amr_in}}</h4>
    <div class="container bootstrap snippets bootdey justify-content-center">
        <div class="panel-body inf-content justify-content-center">
            <div class="row justify-content-center mb-3">
                <div class="col-md-7">
                    <h5 class="h5 text-center text-uppercase bg-success p-3 bg-opacity-25">Information Générales</h5>
                    <table class="table table-user-information ">
                        <tbody>
                            <tr>        
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                        N° AMR                                             
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{amr.num_amr}}  
                                        
                                </td>
                            </tr>
                            <tr>    
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-user  text-primary"></span>    
                                        Contribuable
                                                                                    
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{amr.contribuable.NIU}} <br> 
                                    {{amr.contribuable.raison_social}}
                                    <a href="{% url 'detail_contrib' amr.contribuable.id %}" class="text-primary text-center" class="text-danger" alt="Supprimer ?"><i class="bi bi-info-square-fill"></i></a>
                                    
                                        
                                </td>
                            </tr>
                                    
                            <tr>        
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                        Date d'émission
                                                                                    
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{amr.date}}  
                                    
                                </td>
                            </tr>
                            <tr>        
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                        Recette
                                                                                    
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{amr.recette}}  
                                    
                                </td>
                            </tr>
                            <tr>        
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-eye-open text-primary"></span> 
                                        Emis par                                              
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{amr.personnel}} 
                                </td>
                            </tr>
                            
                            
                        </tbody>
                    </table>
                                            
                </div>
                
            </div>
            <div class="row table-responsive justify-content-center">
                <div class="col-md-7">
                    <h5 class="h5 text-center text-uppercase bg-success p-3 bg-opacity-25">Impots </h5>
                    <table class="table table-bordered">

                        <thead>
                            <th>impots</th>
                            <th>Montant Pricipal</th>
                            <th>Montant Budgétaire</th>
                            <th>Repartition</th>
                        </thead>
                        <tbody>
                            {% for impot in impots_amr %}
                                <tr>
                                    <td>
                                        {{impot.impot}}
                                    </td>
                                    <td>
                                        {{impot.montant}}
                                    </td>
                                    <td>
                                        {{impot.montant_budg}}
                                    </td>
                                    <td>
                                        {% for part_impot in impot.impot.parts_impot.all %}
                                            {{part_impot.nom}} : {% widthratio part_impot.taux 1 impot.montant %}<br>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}  
                        </tbody>
                    </table>
                </div>
            </div>

           
    </div> 
    <center >
        <a href="{% url 'excel_amr' amr.id %}" class="btn btn-success"><i class="bi bi-printer-fill"></i> IMPRIMER</a>
        <a href="{% url 'update_amr' amr.id %}" class="btn btn-secondary"><i class="bi bi-pencil-fill"></i> MODIFIER</a>
    </center>

    <script>
        document.getElementById('amr').classList.add('fw-bold')
        document.getElementById('amr').classList.add('fs-5')
        document.getElementById('menu').children[0].children[0].classList.add('text-white')
        document.getElementById('menu').children[0].children[0].classList.remove('text-white-50')
    </script>
{% endblock contain %}