{% extends "layout/base.html" %}

{% block title %}
    Contribuables | SoftCIME
{% endblock title %}

{% block titleSide %}
Contribuables
{% endblock titleSide %}

{% block liSide %}
    <li class="nav-item">
        <a href="{% url 'liste_contribuable' %}" class="nav-link align-middle px-0 text-white-50">
            <i class="bi bi-list-ol"></i> <span class="ms-1 d-none d-sm-inline">Liste</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'new_contribuable' %}" class="nav-link align-middle px-0 text-white fw-bold">
            <i class="bi bi-plus-circle-fill"></i> <span class="ms-1 d-none d-sm-inline">Nouveau</span>
        </a>
    </li>
{% endblock liSide %}

{% block contain %}
    

<form method="POST">
    {% csrf_token %}
{% comment %} <div class="frame">
	<div class="center">
		<div class="title">
			<h1>Drop file to upload</h1>
		</div>

		<div class="dropzone">
			<img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
			<input type="text" class="upload-input" name="file"/>
		</div>

		<button type="submit" class="btn" name="uploadbutton">Upload file</button>

	</div>
</div> {% endcomment %}
</form>







     <div class="container-fluid px-1 py-5 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-9 col-md-9 col-11 text-center">
                <div class="card">
                    <h5 class="text-center  card-header bg-success text-white">NOUVEAU CONTRIBUABLE</h5>
                    <form class="form-card card-body m-4 text-start" method="POST" action="">
                    {% csrf_token %}
                        <div class="row justify-content-between mb-3 ">
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3" for="niu_input">NIU<span class="text-danger"> *</span></label> 
                                <input type="text" id="niu_input" name="NIU" class="form-control" placeholder="NIU"> 
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3" for="rs_input">Raison Social<span class="text-danger"> *</span></label> 
                                <input type="text" id="rs_input" name="raison_social" class="form-control" placeholder="Raison Social"> 
                            </div>
                        </div>
                        <div class="row justify-content-between text-left mb-3">
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3" for="phone_input">Téléphone<span class="text-danger"> *</span></label> 
                                <input type="text" id="phone_input" name="telephone" class="form-control" placeholder="Téléphone"> 
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3" for="activite_input">Activité<span class="text-danger"> *</span></label> 
                                <input type="text" id="activite_input" name="activite" class="form-control" placeholder="Activité"> 
                            </div>
                            
                        </div>
                        <div class="row justify-content-between text-left mb-3">
                
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                 <label class="form-control-label px-3" for="local_input">Arrondissement<span class="text-danger"> *</span></label> 
                                <input type="text" id="local_input" name="arrondissement" class="form-control" placeholder="Localisation"> 
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3" for="depart_input">Département<span class="text-danger"> *</span></label> 
                                <select id="depart_input" name="departement" class="form-control form-select">
                                    <option value="" disabled selected>Choisissez le département</option>
                                    {% for departement in departements %}
                                    <option value="{{departement.departement}}">{{departement.departement}}</option> 
                                    {% endfor %}
                                </select>

                            </div>
                        </div>
                        <div class="row justify-content-between text-left mb-3">
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3" for="ug">Unité de gestion<span class="text-danger"> *</span></label> 
                                <select id="ug" name="ug" class="form-control form-select">
                                    <option value="" disabled selected>Choisissez le UG</option>
                                    {% for ug in ugs %}
                                    <option value="{{ug.ug}}">UG {{ug.ug}}</option> 
                                    {% endfor %}
                                </select>

                            </div>
                            
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3" for="sous_secteur">Sous secteur<span class="text-danger"> *</span></label> 
                                <select id="sous_secteur" name="sous_secteur" class="form-control form-select">
                                    <option value="" disabled selected>Choisissez le Sous secteur</option>
                                    {% for sous_secteur in sous_secteurs %}
                                        <option value="{{sous_secteur.libelle}}">{{sous_secteur.libelle}}</option> 
                                    {% endfor %}
                                </select>

                            </div>
                        </div>

                        <div class="row justify-content-between text-left mb-3">
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3" for="ri_input">Régime d'imposition<span class="text-danger"> *</span></label> 
                                <select id="ri_input" name="regime_impot" class="form-control form-select" placeholder="Raison Social">
                                    <option value="" disabled selected>Choisissez un régime</option>
                                    {% for regime in regimes_impots %}
                                    <option value="{{regime.regime_impot}}">{{regime.regime_impot}}</option> 
                                    {% endfor %}
                                </select>
                            </div>

                            
                            
                        </div>
                        <div class="row justify-content-between text-left mb-3">
                                               
                            
                            
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success container-fluid">Enregistrer</button>
                        </div>

                    </form>
                    <h3 class="card-footer {{classmsg}}">{{message}}</h3>
                </div>
            </div>
        </div>
    </div>


    {% comment %} <form method="POST" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Enregistrer">
    </form> {% endcomment %}
    <script>
        document.getElementById('contribuable').classList.add('fw-bold')
        document.getElementById('contribuable').classList.add('fs-5')
    </script>

    
{% endblock contain %}