{% extends "layout/gestion_layout.html" %}


{% block title %}
Nouvelle Déclaration
{% endblock title %}

{% block contain %}
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-9 col-md-9 col-11">
            <div class="card ">
                <h5 class="text-center card-header bg-success text-white">NOUVELLE DECLARATION</h5>
                    <form class="form-card card-body m-4 text-start" method="POST" action="">
                    {% csrf_token %}
                        
                        <div class="row justify-content-between mb-3 ">
                            <label class="form-control-label px-3" for="{{impot.impot}}">Déclaration Impots<span class="text-danger"> *</span></label>
                            <select name="impot" class="form-control form-select mb-3">
                                <option selected disabled>Sélectionner un impot</option>
                                {% for impot in impots %}
                                <option value="{{impot.impot}}">{{impot.impot}}</option>
                                {% endfor %}
                            </select>
                            <label for="montant" class="form-control-label px-3">Montant de l'impôt<span class="text-danger"> *</span></label>
                            <input type="number" class="form-control" id="montant" name="montant" placeholder="Entrer le montant">
                        </div>
                        
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-success container-fluid">Enregistrer</button>
                        </div>

                    </form>
                
                <h5 class="card-footer {{classmsg}}">{{message}}</h5>
            </div>
            <div class="row" style="max-height:200px;overflow-y:scroll;">
                {% comment %} <i class="text-center text-uppercase">Impots Déclarés</i> {% endcomment %}
                <table class="table table-responsive small">
    
                    <thead >
                        <th>impots</th>
                        <th>Montant pricipal</th>
                        <th>Repartition</th>
                    </thead>
                    <tbody >
                        {% for a, b, c in im_dec %}
                            <tr>
                                <td>
                                    {{a}}
                                </td>
                                <td>
                                    {{b}}
                                </td>
                                
                                <td>
                                {% for i in c %}
                                    {{i}} <br>
                                {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}  
                    </tbody>
                </table>
            </div>
        </div>
        
        
    </div>
</div>   




    <script>
        document.getElementById('gestion').classList.add('fw-bold')
        document.getElementById('gestion').classList.add('fs-5')
        document.getElementById('menu').children[1].children[0].classList.add('text-white')
        document.getElementById('menu').children[1].children[0].classList.add('fw-bold')
        document.getElementById('menu').children[1].children[0].classList.remove('text-white-50')
    </script>
{% endblock contain %}