{% extends "layout/base.html" %}


{% block title %}
Gestion | SoftCIME
{% endblock title %}

{% block titleSide %}
Gestion et suivi
{% endblock titleSide %}

{% block liSide %}
<li class="nav-item">
    <a href="{% url 'liste_declaration' %}" class="nav-link align-middle px-0 text-white-50">
        <i class="bi bi-list-ol"></i> <span class="ms-1 d-none d-sm-inline">Déclarations</span>
    </a>
</li>
<li class="nav-item">
    <a href="{%url 'new_declaration'%}" class="nav-link align-middle px-0 text-white fw-bold">
        <i class="bi bi-plus-circle-fill"></i> <span class="ms-1 d-none d-sm-inline">Nouvelle Déclaration</span>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'declaration_incomplete' %}" class="nav-link align-middle px-0 text-white-50">
        <i class="bi bi-list-ol"></i> <span class="ms-1 d-none d-sm-inline">Déclarations incomplete</span>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link align-middle px-0 text-white-50">
        <i class="bi bi-pen-fill"></i> <span class="ms-1 d-none d-sm-inline">Plan d'action</span>
    </a>
</li>

{% endblock liSide %}

{% block contain %}
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-9 col-md-9 col-11 text-center">
            <div class="card">
                <h5 class="text-center  card-header bg-success text-white">NOUVELLE DECLARATION</h5>
                <form class="form-card card-body m-4 text-start" method="POST" action="">
                {% csrf_token %}
                    <div class="row justify-content-between mb-3 ">
                        <div class="form-group col-sm-6 flex-column d-flex"> 
                            <label class="form-control-label px-3" for="num_avis">Avis d'imposition<span class="text-danger"> *</span></label> 
                            <input type="text" id="num_avis" name="num_avis" class="form-control" placeholder="N° Avis" required> 
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> 
                            <label class="form-control-label px-3" for="contribuable">Contribuable<span class="text-danger"> *</span></label> 
                            {% comment %} <select id="contribuable" name="contribuable" class=" form-select" required>
                                <option value="" disabled selected>Choisissez le NIU </option>
                                {% for contribuable in contribuables %}
                                <option value="{{contribuable.NIU}}">{{contribuable.NIU}}</option> 
                                {% endfor %}
                            </select> {% endcomment %}
                            <input type="text" class="form-control" id="contribuable" name="contribuable" placeholder="Entrer le NIU" list="liste-contribuable" >
                            <datalist id="liste-contribuable">
                                {% for contribuable in contribuables %}
                                <option value="{{contribuable.NIU}}">{{contribuable.NIU}}</option> 
                                {% endfor %}
                            </datalist>
                            
                                

                        </div>
                    </div>
                    <div class="row justify-content-between text-left mb-3">
                        <div class="form-group col-sm-6 flex-column d-flex"> 
                            <label class="form-control-label px-3" for="chiffre_affaire">Chiffre d'affaire<span class="text-danger"> *</span></label> 
                            <input type="number" id="chiffre_affaire" name="chiffre_affaire" class="form-control" placeholder="chiffre_affaire" required> 
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> 
                            <label class="form-control-label px-3" for="date_limite">Date Limite<span class="text-danger"> *</span></label> 
                            <input type="date" id="date_limite" name="date_limite" class="form-control" value="{{today.year}}-{% if today.month < 10 %}0{% endif %}{{today.month}}-15" required> 
                        </div>
                        
                    </div>
                    <input type="submit" id="submit" name="submit" class="btn btn-success container-fluid" value="SUIVANT" > 
                    
                </div>
                
                </form>
                </form>
                <h5 class="card-footer text-uppercase {{classmsg}}" id="message">{{message}}</h5>
            </div>
        </div>
    </div>
</div>   




    <script>
        document.getElementById('gestion').classList.add('fw-bold')
        document.getElementById('gestion').classList.add('fs-5')
        $(function(){              
            $('#contribuable').autocomplete();
        });
        
        function hideMsg(){
            document.getElementById("message").classList.add('text-white')
        }
        setTimeout(hideMsg,1000);
    </script>
       
{% endblock contain %}