{% extends "layout/base copy.html" %}


{% block title %}
Dashboard | SoftCIME
{% endblock title %}



{% block contain %}
    
    <div class="row justify-content-around custom-line">
        <h1 class="h1 text-center text-uppercase">Bienvenue M. {{personnel.nom}}</h1><hr>
        <div class="col-3 row">
            <div class="card bg-success bg-gradient col-11">
                <table>
                    <tr>
                        <th class="h2 border-right text-white" style="font-size:100px;"><i class="bi bi-people-fill"></i></th>
                        <td class="p-3">
                            <h5 class="h5 text-white text-uppercase">Contribuables</h5>
                            <b class="h1 text-white">{{nbcontrib}}</b><p>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-3 row">
            <div class="card bg-danger bg-gradient col-11">
                <table>
                    <tr>
                        <th class="h2 border-right text-white" style="font-size:100px;"><i class="bi bi-file-earmark-spreadsheet-fill"></i></th>
                        <td class="p-3">
                            <h5 class="h5 text-white text-uppercase">Déclarations ({{mois}})</h5>
                            <b class="h1 text-white">{{nbDec}}</b><p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-3 row">
            <div class="card bg-warning bg-gradient col-11">
                <table>
                    <tr>
                        <th class="h2 border-right text-white" style="font-size:100px;"><i class="bi bi-cash-coin"></i></th>
                        <td class="p-3">
                            <h5 class="h5 text-white text-uppercase">Payements ({{mois}})</h5>
                            <b class="h1 text-white">{{nbPaye}}</b><p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-3 row">
            <div class="card bg-info bg-gradient col-11">
                <table>
                    <tr>
                        <th class="h2 border-right text-white" style="font-size:100px;"><i class="bi bi-cash-coin"></i></th>
                        <td class="p-3">
                            <h5 class="h5 text-white text-uppercase">AMR ({{mois}})</h5>
                            <b class="h1 text-white">{{nbAmr}}</b><p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-4 container bg-opacity-75 bg-white bg-gradient p-5 shadow">
            <canvas id="repartition_ug" ></canvas>
        </div>
        <div class="col-4 container bg-opacity-75 bg-white bg-gradient p-5 shadow">
            <canvas id="repartition_ss" ></canvas>
        </div>
        <div class="col-4 container bg-opacity-75 bg-white bg-gradient p-5 shadow">
            <canvas id="chart_dec_mois" ></canvas>
        </div>
        
        {% comment %} <div class="col-6 p-3 container-fluid">
            <img src="data:image/png;base64,{{data}}" alt="" class="img-fluid">
        </div>
        <div class="col-6 p-3 container-fluid">
            <img src="data:image/png;base64,{{data}}" alt="" class="img-fluid" >
        </div> {% endcomment %}
    </div>
    <script>
        var barColors = [
        "#b91d47",
        "#00aba9",
        "#2b5797",
        "#e8c3b9",
        "#1e7145"
        ];

    

        var config = {
            type: 'pie',
            data: {
            datasets: [{
                data: {{ ug_nbs|safe }},
                backgroundColor: barColors,
                label: 'Data Source : Fiscalis'
            }],
            labels: {{ ug_labels|safe }}
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'right'
                    },
                    title: {
                        display: true,
                        text: 'Repartition par unité de gestion'
                    }
                }
                
            }
        };

        var config2 = {
            type: 'pie',
            data: {
            datasets: [{
                data: {{ ss_nbs|safe }},
                backgroundColor: {{ couleur_ss|safe }},
                label: 'Data Source : Fiscalis'
            }],
            labels: {{ ss_labels|safe }}
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom'
                    },
                    title: {
                        display: true,
                        text: 'Repartition par sous secteur'
                    }
                }
                
            }
        };

        var config1 = {
            type: 'bar',
            data: {
                labels: {{labels_month|safe}},
                datasets: [{
                    label: 'Data Source : CIME',
                    data: {{ nbdec_mois|safe }},
                    backgroundColor: [
                        'rgba(255, 99, 132)',
                        'rgba(255, 159, 64)',
                        'rgba(255, 205, 86)',
                        'rgba(75, 192, 192)',
                        'rgba(54, 162, 235)',
                        'rgba(153, 102, 255)',
                        'rgba(201, 203, 207)',
                        'rgba(255, 99, 132)',
                        'rgba(255, 159, 64)',
                        'rgba(255, 205, 86)',
                        'rgba(75, 192, 192)',
                        'rgba(54, 162, 235)'
                        ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)',
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)'
                        ],
                
                }],
                borderWidth: 1
                
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                      beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Déclarations par mois'
                    }
                }
                
            }
        };

        window.onload = function() {
            var ctx1 = document.getElementById('chart_dec_mois').getContext('2d');
            window.myBar = new Chart(ctx1, config1);

            var ctx = document.getElementById('repartition_ug').getContext('2d');
            window.myPie = new Chart(ctx, config);

            var ctx2 = document.getElementById('repartition_ss').getContext('2d');
            window.myPie = new Chart(ctx2, config2);
        };
    </script>

{% endblock contain %}