{% extends "layout/base copy.html" %}


{% block title %}
Dashboard | SoftCIME
{% endblock title %}



{% block contain %}
    
    <div class="row justify-content-around custom-line">
        <h1 class="h1 text-center text-uppercase">Bienvenue M. {{personnel.nom}}</h1><hr>
        <div class="col-3">
            <div class="card bg-success row">
                <table>
                    <tr>
                        <th class="h1 border-right p-3 text-white" style="font-size:100px;"><i class="bi bi-people-fill"></i></th>
                        <td class="p-3">
                            <h5 class="h5 text-white text-uppercase">Contribuables</h5>
                            <b class="h1 text-white">{{nbcontrib}}</b><p>
                            <div class="progress" style="height: 5px;">
                                {% for ug in ugs %}
                                <div class="progress-bar" role="progressbar" style="width: {{ug.contribuable_set.count}}%; background: {%cycle 'royalblue' 'tomato' 'gold' 'red' 'lime'%};" aria-valuenow="{{ug.contribuable_set.count}}" aria-valuemin="0" aria-valuemax="{{nbcontrib}}"></div>
                                {% endfor %}
                                
                            </div>
                            <span class="text-center">
                                UG : 
                                {% for ug in ugs %}
                                    {{ug.ug}}  <i class="bi bi-square-fill" style="color: {%cycle 'royalblue' 'tomato' 'gold' 'red' 'lime'%};"></i> 
                                {% endfor %}
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-danger row">
                <table>
                    <tr>
                        <th class="h1 border-right p-3 text-white" style="font-size:100px;"><i class="bi bi-file-earmark-spreadsheet-fill"></i></th>
                        <td class="p-3">
                            <h5 class="h5 text-white text-uppercase">Déclarations ({{today.month}})</h5>
                            <b class="h1 text-white">{{nbDec}}</b><p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{nbDec}}%" aria-valuenow="{{nbDec}}" aria-valuemin="0" aria-valuemax="{{nbcontrib}}">{{nbDec}}</div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-warning row">
                <table>
                    <tr>
                        <th class="h1 border-right p-3 text-white" style="font-size:100px;"><i class="bi bi-cash-coin"></i></th>
                        <td class="p-3">
                            <h5 class="h5 text-white text-uppercase">Payements ({{today.month}})</h5>
                            <b class="h1 text-white">{{nbPaye}}</b><p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{nbPaye}}%" aria-valuenow="{{nbPaye}}" aria-valuemin="0" aria-valuemax="{{nbcontrib}}">{{nbPaye}}</div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 p-3 container-fluid">
            <img src="data:image/png;base64,{{data}}" alt="" class="img-fluid">
        </div>
        <div class="col-6 p-3 container-fluid">
            <img src="data:image/png;base64,{{data}}" alt="" class="img-fluid" >
        </div>
    </div>

<script>
    var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
    var yValues = [55, 49, 44, 24, 15];
    var barColors = [
    "#b91d47",
    "#00aba9",
    "#2b5797",
    "#e8c3b9",
    "#1e7145"
    ];

    new Chart("myChart", {
    type: "pie",
    data: {
        labels: xValues,
        datasets: [{
        backgroundColor: barColors,
        data: yValues
        }]
    },
    options: {
        title: {
        display: true,
        text: "World Wide Wine Production 2018"
        }
    }
    });
</script>

{% endblock contain %}