{% extends "layout/stats_layout.html" %}


{% block contain %}
    <h4 class="bg-success text-white text-center"> PERFORMANCE BRIGADE DE CONTROLE ET DES VERIFICATIONS/RECETTE DES IMPOTS</h4>

    <div>
        <div class="row">
            <div class="col-12">
                
                <table class="table table-bordered">
                    <thead class="text-center bg-dark bg-opacity-25">
                        <tr>
                            <th >
                                RECETTES
                            </th>
                            <th>
                                RAISON SOCIALES / AMR
                            </th>
                            <th>
                                MONTANT PAYE
                            </th>
                            <th>
                                RECETTES BUDG.
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in stat_recette %}
                        <tr>
                            {% for i in stat %}
                            <td>
                                {{i}}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot class="text-center bg-dark bg-opacity-25">
                        <th colspan="2">
                            TOTAUX
                        </th>
                        <th>
                            {{montantT.montant__sum}}
                        </th>
                        <th>
                            {{montantBT.montant_budg__sum}}
                        </th>
                    </tfoot>
                </table>
            </div>
            
        </div>
    </div>



    <script>
        document.getElementById('stats').classList.add('fw-bold')
        document.getElementById('stats').classList.add('fs-5')
        document.getElementById('menu').children[1].children[0].classList.add('text-white')
        document.getElementById('menu').children[1].children[0].classList.add('fw-bold')
        document.getElementById('menu').children[1].children[0].classList.remove('text-white-50')
        
        document.getElementById('subperf').children[1].children[0].classList.add('text-white')
        document.getElementById('subperf').children[1].children[0].classList.add('text-white-50')
    </script>
{% endblock contain %}