{% extends "layout/stats_layout.html" %}

{% block title %}
Etats statistiques
{% endblock title %}

{% block contain %}
    <h4 class="bg-success text-white text-center"> ETATS STATISTIQUES</h4>

    <div class="justify-content-center">
        
        <div class="row justify-content-end">
            <div class="col-4 mb-3 mt-3">
                <form method="POST" action="" class="form-inline">
                    {% csrf_token %}
                    <div class="form-group row ">
                        <div class="col-5">
                            <select class="form-select container-fluid" name="date">
                                <option value="1" {% if num_m == 1 %}selected{% endif %}>Janvier</option>
                                <option value="2" {% if num_m == 2 %}selected{% endif %}>Février</option>
                                <option value="3" {% if num_m == 3 %}selected{% endif %}>Mars</option>
                                <option value="4" {% if num_m == 4 %}selected{% endif %}>Avril</option>
                                <option value="5" {% if num_m == 5 %}selected{% endif %}>Mai</option>
                                <option value="6" {% if num_m == 6 %}selected{% endif %}>Juin</option>
                                <option value="7" {% if num_m == 7 %}selected{% endif %}>Juillet</option>
                                <option value="8" {% if num_m == 8 %}selected{% endif %}>Août</option>
                                <option value="9" {% if num_m == 9 %}selected{% endif %}>Septembre</option>
                                <option value="10" {% if num_m == 10 %}selected{% endif %}>Octobre</option>
                                <option value="11" {% if num_m == 11 %}selected{% endif %}>Novembre</option>
                                <option value="12" {% if num_m == 12 %}selected{% endif %}>Décembre</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <select class="form-select container-fluid" name="an">
                                {% for a in range_an %}
                                <option value="{{a}}" {% if a == an %}selected{% endif %}>{{a}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-3">
                            <input type="submit" value="Générer" class="btn btn-success container-fluid">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12">
                
                <table class="table table-bordered table-hover">
                    <thead class="text-center bg-dark bg-opacity-25">
                        <tr>
                            <th >
                                Etat
                            </th>
                            <th>
                                Mois
                            </th>
                            <th>
                                Télécharger
                            </th>
                        </tr>
                    </thead>
                    <tbody class="h5">
                        <tr>
                            <td>
                                <a href="{% url 'stats_consolide_irc' num_m an %}" class="nav-link">
                                    Statistiques Consolidées des émissions et recouvrements des impots sur le revenu et à la consommation
                                </a>
                            </td>
                            <td>
                                {{mois}}-{{an}}
                            </td>
                            <td>
                                <a href="{% url 'stats_consolide_irc' num_m an %}" class="btn btn-info"><i class="bi bi-arrow-down-circle"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{% url 'stats_consolide_retc' num_m an %}" class="nav-link">
                                    Statistiques Consolidées des émissions et recouvrements des recettes d'enregistrement, timbre et curatelle
                                </a>
                            </td>
                            <td>
                                {{mois}}-{{an}}
                            </td>
                            <td>
                                <a href="{% url 'stats_consolide_retc' num_m an %}" class="btn btn-info"><i class="bi bi-arrow-down-circle"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{% url 'stats_recette_af' num_m an %}" class="nav-link">
                                    Tableau statistique de suivi des recettes affectées
                                </a>
                            </td>
                            <td>
                                {{mois}}-{{an}}
                            </td>
                            <td>
                                <a href="{% url 'stats_recette_af' num_m an %}" class="btn btn-info"><i class="bi bi-arrow-down-circle"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{% url 'excelStats1' %}" class="nav-link">
                                    Repartition des contribuables (par UG, sous secteur, régime et département)
                                </a>
                            </td>
                            <td>
                                {{mois}}-{{an}}
                            </td>
                            <td>
                                <a href="{% url 'excelStats1' %}" class="btn btn-info"><i class="bi bi-arrow-down-circle"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{% url 'excel_virements' num_m an %}" class="nav-link">
                                    Bordereau des virements éffectués
                                </a>
                            </td>
                            <td>
                                {{mois}}-{{an}}
                            </td>
                            <td>
                                <a href="{% url 'excel_virements' num_m an %}" class="btn btn-info"><i class="bi bi-arrow-down-circle"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{% url 'excel_plan_action' num_m an %}" class="nav-link">
                                    Plan d'action 
                                </a>
                            </td>
                            <td>
                                {{mois}}-{{an}}
                            </td>
                            <td>
                                <a href="{% url 'excel_plan_action' num_m an %}" class="btn btn-info"><i class="bi bi-arrow-down-circle"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
            
        </div>
    </div>



    <script>
        document.getElementById('stats').classList.add('fw-bold')
        document.getElementById('stats').classList.add('fs-5')
        document.getElementById('menu').children[2].children[0].classList.add('text-white')
        document.getElementById('menu').children[2].children[0].classList.add('fw-bold')
        document.getElementById('menu').children[2].children[0].classList.remove('text-white-50')
    </script>
{% endblock contain %}